{:edge.kick/config
 {:kick.builder/target #profile {:dev "target/dev"
                                 :prod "target/prod"}
  :kick/figwheel-main {:builds [{:id "app"
                                 :main yappy.app.frontend.main
                                 :output-to "public/frontend.js"
                                 :output-dir "public/frontend.out"
                                 :asset-path "/frontend.out"
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}}]
                       :figwheel-config
                       {:ring-server-options
                        {:port 7500}}}}

 :ig.system/base
 {:yappy.app.core/websockets {}
  :yappy.app.core/send {}
  [:edge.yada.ig/classpath-name :yappy.app/index] {:name "index.html"}
  [:edge.yada.ig/resources :yappy.app/assets] {:path "public"}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 2200}
  :edge.bidi.ig/vhost [["http://localhost:2200"
                        [""
                         [["/" #ig/ref [:yappy.app/index :edge.yada.ig/classpath-name]]
                          [["/websockets/" :user-id] #ig/ref :yappy.app.core/websockets]
                          [["/send/" :from-user-id "/" :to-user-id] #ig/ref :yappy.app.core/send]
                          ["" #ig/ref [:yappy.app/assets :edge.yada.ig/resources]]]]]]}

 :ig.system/dev
 {:edge.kick/builder #ref [:edge.kick/config]}

 :ig/system #profile {:dev #merge [#ref [:ig.system/base]
                                   #ref [:ig.system/dev]]
                      :default #ref [:ig.system/base]}}
